# Database Configuration
DB_URL=jdbc:postgresql://localhost:5432/aviation_air_report
DB_USERNAME=your_username
DB_PASSWORD=your_password

# Aviation API
AVIATION_API_URL=https://aviationweather.gov/api/data/dataserver

# Spring Profile
SPRING_PROFILES_ACTIVE=local
